@font-face {
  font-family: 'zabras';
  src: url('fonts/Zabars.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('img_pollo_locco/img/background_body.png');
  background-position: center;
  background-size: cover;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  font-size: 20px;
}

a {
  margin: 4px;
  text-decoration: none;
  color: #FF9F00;
  font-size: 20px;
}

a:hover {
  color: #FFDE01;
}

ul {
  list-style-type: none;
}

.game-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

canvas {
  background-color: black;
  display: block;
}

.button-mute {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:#FFDE01;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
}

.button-mute img {
  height: 30px;
}

.button-mute:hover {
  background-color:  #ffe74a;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel-game {
  display: flex;
  justify-content: end;
}

.panel-moving {
  display: flex;
  justify-content: space-between;
}

.panel-moving button,
.panel-game button {
  background-color: #FF9F00;
  border: 1px solid #FFDE01;
  padding: 8px 16px;
  border-radius: 10px;
}

.pannel-wrapper {
  display: flex;
  gap: 16px;
  padding: 10px;
}

.landscapescreen {
  background-color: #FF9F00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landscapescreen img {
  height: 50px;
}

.startscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;  
  background-image: url('img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png');
  background-position: center;
  background-size: cover;
  background-size: 720px 480px;
}

.button-start-game {
  background-color:  #FFDE01;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  font-size: 30px;
  position: absolute;
  top: 15%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
}

.button-start-game:hover {
  background-color:  #ffe74a;
}

.button-instructions {
  background-color:  #FFDE01;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  font-size: 30px;
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
}

.button-instructions:hover {
  background-color:  #ffe74a;
}

.endscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;  
  background-image: url('img_pollo_locco/img/5_background/second_half_background.png');
  background-position: center;
  background-size: cover;
  background-size: 720px 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endscreen-img {
  max-width: 400px;
}

.endscreen-link-container {
  display: flex;
  gap: 30px;
}

.endscreen-button-container {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 30px;
  margin-bottom: 16px;
}

.endscreen button {
  background-color:  #FFDE01;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  font-size: 30px;
  padding: 10px 20px;
}

.endscreen button:hover {
  background-color:  #ffe74a;
}

.instructions {
  text-align: center;
  word-wrap: break-word;
  font-size: 25px;
}

.overlay {
  position: absolute;
}

.privacy {
  padding: 16px;
}

.info-arrow {
  background-color: #ffe74a;
  height: 35px;
  padding: 4px;
  position: fixed;
  top: 40px;
  right: 50px;
}

@media(max-width: 720px) {
  h1 {
    display: none;
  }
}

@media(max-height: 720px) {
  h1 {
    display: none;
  }
}


@media only screen and (max-width: 720px) {
  canvas,
  .landscapescreen,
  .startscreen,
  .endscreen
   {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}